@charset "UTF-8";

body{
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.header{
  margin: 0px 0px auto;

}

.logo{
  font-size: 40px;
  margin:0;
  padding: 10px 40px;
  letter-spacing: 10px;
  color: #fff;
  background-color: #5B616A;
  font-weight: bold;
  line-height: 30px;
}

.navigator{
  background-color: #5B616A;
  margin: 0;
  position: fixed;
  top:0;
  right: 0;
}

.navigator ul{
  text-align: center;
  margin: 0;
}

.navigator ul li{
  line-height: 30px;
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

.navigator ul li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
}

.navigator ul li:hover{
  background: #697296;
  opacity: 0.8;
  border-radius: 50%;
  transition: 1s;
}

.navigator ul li a:hover{
  color: #FFF;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax-window {
     min-height: 800px;
     background: transparent;
}

.parallax-slider {
     top: 0;
     left: 0;
}

.top-wrapper{
  background:transparent;
  text-align: center;
  font-size: 40px;
  color: #fff;

}

.contents{
  width: 100%;
  height:400px;
  text-align: center;
  background-color: #fff;
}
